<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/blog_auth.css">
</head>
<body>
    <div class="form_container">
        <form class="login_form" action="{{ url_for('auth.login') }}" method="post">
            <h1>{{ auth_header }}</h1>
            <ul>
                <li>
                    <label for="id">ID </label>
                    <input class="login_input" id="id" name="id" type="text" required>
                </li>
                <li>
                    <label for="pw">PW </label>
                    <input class="login_input" id="pw" name="pw" type="password" required>
                </li>
                <li>
                    <button class="login_submit" type="submit">LOGIN</button>
                </li>
            </ul>
            <div class="warning_box">
                    {% with message = get_flashed_messages() %}
                    {% if message %}
                    <p>{{ message[0] }}</p>
                    {% endif %}
                    {% endwith %}
            </div>
        </form>
    </div>
</body>
</html>