<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="HanLimKim">
    <meta name="description" content="This is the page of the blog posting summary articles on Frontend, Backend, DevOps, and CS. 
    This page focuses on organizing the principles contained in the technology rather than listing the detailed usage of the technology.">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog_Write</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='blog_write.css') }}">
</head>
<body>
    <div class="container">
        <header class="header_container">
                <a class="header_logo" href="{{ url_for('home.home') }}">
                    <img src="{{ url_for('static', filename='svg/home-solid.svg') }}" alt="Blog Logo">
                </a>
                <h1 class="header_title">블로그 작성</h1>
                <div></div>
        </header>
        <nav>
            <ul class="nav_container">
                <li><a href="https://github.com/kimhanlim8107"><span>Github</span></a></li>
                <li><a href="{{ url_for('home.frontend') }}"><span>Frontend</span></a></li>
                <li><a href="{{ url_for('home.backend') }}"><span>Backend</span></a></li>
                <li><a href="{{ url_for('home.devops') }}"><span>DevOps</span></a></li>
                <li><a href="{{ url_for('home.cs') }}"><span>CS</span></a></li>
                <li><a href="{{ url_for('write.write') }}"><span>블로그작성</span></a></li>
            </ul>
        </nav>
        <main class="main_container">
            <form class="main_form" action="{{ url_for('write.update', repository=post['repository'], id=post['id']) }}" method="post" accept-charset="utf-8">
                <ul class="main_wrapper">
                    <li>
                        <label for="title">Title:</label>
                        <input type="text" name="title" id="title" value="{{ post['title'] }}" required>
                    </li>
                    <li>
                        <label for="repository">Repository:</label>
                        <select name="repository" id="repository" required>
                            <option value="frontend" {% if post['repository'] == 'frontend' %} selected='selected' {% endif %}>Frontend</option>
                            <option value="backend" {% if post['repository'] == 'backend' %} selected='selected' {% endif %}>Backend</option>
                            <option value="devops" {% if post['repository'] == 'devops' %} selected='selected' {% endif %}>DevOps</option>
                            <option value="cs" {% if post['repository'] == 'cs' %} selected='selected' {% endif %}>CS</option>
                        </select>
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <span><p>{{ messages[0] }}</p></span>
                        {% endif %}
                        {% endwith %}
                    </li>
                    <li class="content_wrapper">
                        <label for="content"></label>
                        <textarea name="content" id="content" cols="30" rows="40" min-length="25" placeholder="write your content here" required>{{ post['content'] }}</textarea>
                    </li>
                    <li>
                        <button type="submit">Submit</button>
                    </li>
                </ul>
            </form>
        </main>
        <footer class="footer_container">
            <p>E-mail</p>
        </footer>
    </div>
</body>
</html>