<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="HanLimKim">
    <meta name="description" content="This is the page of the blog posting summary articles on Frontend, Backend, DevOps, and CS. 
    This page focuses on organizing the principles contained in the technology rather than listing the detailed usage of the technology.">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog_Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='blog_page.css') }}">
</head>
<body>
    <div class="container">
        <header class="header_container">
                <a class="header_logo" href="{{ url_for('home.home') }}">
                    <img src="{{ url_for('static', filename='svg/home-solid.svg') }}" alt="Blog Logo">
                </a>
                <h1 class="header_title">page</h1>
                <div></div>
        </header>
        <nav>
            <ul class="nav_container">
                <li><a href="https://github.com/kimhanlim8107"><span>Github</span></a></li>
                <li><a href="{{ url_for('home.frontend') }}"><span>Frontend</span></a></li>
                <li><a href="{{ url_for('home.backend') }}"><span>Backend</span></a></li>
                <li><a href="{{ url_for('home.devops') }}"><span>DevOps</span></a></li>
                <li><a href="{{ url_for('home.cs') }}"><span>CS</span></a></li>
                <li><a href="{{ url_for('write.write') }}"><span>블로그작성</span></a></li>
            </ul>
        </nav>
        <main class="main_container">
            <h2 class="main_title">{{ post['title'] }}</h2>
            <article class="main_content">{{ post['content'] }}</article>
            <a class='main_update' href="{{ url_for('write.update', repository=post['repository'], id=post['id']) }}">수정하기</a>
            <a class='main_delete' href="{{ url_for('write.delete', repository=post['repository'], id=post['id']) }}">삭제하기</a>
        </main>
        <aside class="aside_container">
            <div class="aside_advertise">
                <p>Ads</p>
            </div>
            <div class="aside_feature_unknown">
                <p>feature</p>
            </div>
        </aside>
        <footer class="footer_container">
            <p>E-mail</p>
        </footer>
    </div>
</body>
</html>