<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="HanLimKim">
    <meta name="description" content="This is the home of the blog posting summary articles on Frontend, Backend, DevOps, and CS. 
    This page focuses on organizing the principles contained in the technology rather than listing the detailed usage of the technology.">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog_Home</title>
    <link rel="stylesheet" href="./static/blog_home.css">
</head>
<body>
    <div class="container">
        <header class="header_container">
                <a class="header_logo" href="blog_home.html">
                    <img src="svg/home-solid.svg" alt="Blog Logo">
                </a>
                <h1 class="header_title">Main_Title</h1>
                <div></div>
        </header>
        <nav>
            <ul class="nav_container">
                <li><a href="https://github.com/kimhanlim8107"><span>Github</span></a></li>
                <li><a href=""><span>Frontend</span></a></li>
                <li><a href=""><span>Backend</span></a></li>
                <li><a href=""><span>DevOps</span></a></li>
                <li><a href=""><span>CS</span></a></li>
                <li><a href="blog_write.html"><span>블로그작성</span></a></li>
            </ul>
        </nav>
        <main class="main_container">
            <article>
                <h2 class="main_title">Sub_Title</h2>
                <ul class="main_lists">
                    <li>
                        <a href="blog_page.html">
                            <div class="list_box_container">
                                <h3>HTML: Hypertext Markup Language HTML: Hypertext Markup Language</h3>
                                <time datetime="2021-05-31 22:00">210531 22:00</time>
                            </div>
                        </a>
                    </li>
                    <li>
                        <div class="list_box_container">
                            <h3>CSS: Cascading Style Sheets</h3>
                            <time datetime="2021-05-31 22:00">210531 22:00</time>
                        </div>
                    </li>
                    <li>
                        <div class="list_box_container">
                            <h3>JavaScript</h3>
                            <time datetime="2021-05-31 22:00">210531 22:00</time>
                        </div>
                    </li>
                    <li>
                        <div class="list_box_container">
                            <h3>Python</h3>
                            <time datetime="2021-05-31 22:00">210531 22:00</time>
                        </div>
                    </li>
                    <li>
                        <div class="list_box_container">
                            <h3>Flask</h3>
                            <time datetime="2021-05-31 22:00">210531 22:00</time>
                        </div>
                    </li>
                </ul>
            </article>
            <div class="main_arrows">
                <img class="arrow_left"src="svg/arrow-left-solid.svg" alt="Back page">
                <p class="arrow_num">1</p>
                <img class="arrow_right" src="svg/arrow-right-solid.svg" alt="Next page">
            </div>
        </main>
        <footer class="footer_container">
            <p>E-mail</p>
        </footer>
    </div>
</body>
</html>