<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="HanLimKim">
    <meta name="description" content="This is the home of the blog posting summary articles on Frontend, Backend, DevOps, and CS. 
    This page focuses on organizing the principles contained in the technology rather than listing the detailed usage of the technology.">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog_Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='blog_home.css') }}">
</head>
<body>
    <div class="container">
        <header class="header_container">
                <a class="header_logo" href="{{ url_for('home.home') }}">
                    <img src="{{ url_for('static', filename='svg/home-solid.svg') }}" alt="Blog Logo">
                </a>
                <h1 class="header_title">{{ function_name }}</h1>
                <div></div>
        </header>
        <nav>
            <ul class="nav_container">
                <li><a href="https://github.com/kimhanlim8107"><span>Github</span></a></li>
                <li><a href="{{ url_for('home.frontend') }}"><span>Frontend</span></a></li>
                <li><a href="{{ url_for('home.backend') }}"><span>Backend</span></a></li>
                <li><a href="{{ url_for('home.devops') }}"><span>DevOps</span></a></li>
                <li><a href="{{ url_for('home.cs') }}"><span>CS</span></a></li>
                <li><a href="{{ url_for('write.write') }}"><span>블로그작성</span></a></li>
            </ul>
        </nav>
        <main class="main_container">
            <article>
                <h2 class="main_title">최근 포스팅</h2>
                <ul class="main_lists">
                    {% block page_content %}
                        {% for post in posts %}
                            <li>
                                <a href="{{ url_for('page.page', repository=post['repository'], id=post['id']) }}">
                                    <div class="list_box_container">
                                        <h3>{{ post['title'] }}</h3>
                                        <time datetime="{{ post['date'] }}">{{ post['date'] }}</time>
                                    </div>
                                </a>
                            </li>
                        {% endfor %}
                    {% endblock %}
                </ul>
            </article>
            <div class="main_arrows">
                {% block arrow_left_content %}
                    {% if page_num <= min_page_num %}
                        <img class="arrow_left" src="{{ url_for('static', filename='svg/arrow-left-solid.svg') }}" alt="Back page">
                    {% else %}
                        <a href="{{ url_for('home.' + function_name, page_num = page_num - 1) }}">
                            <img class="arrow_left" src="{{ url_for('static', filename='svg/arrow-left-solid.svg') }}" alt="Back page">
                        </a>
                    {% endif %}
                {% endblock %}
                <p class="arrow_num">{{ page_num }}</p>
                {% block arrow_right_content %}
                    {% if page_num < max_page_num %}
                        <a href="{{ url_for('home.' + function_name, page_num = page_num + 1) }}">
                            <img class="arrow_right" src="{{ url_for('static', filename='svg/arrow-right-solid.svg') }}" alt="Next page">
                        </a>
                    {% else %}
                        <img class="arrow_right" src="{{ url_for('static', filename='svg/arrow-right-solid.svg') }}" alt="Next page">
                    {% endif %}
                {% endblock %}
            </div>
        </main>
        <footer class="footer_container">
            <p>E-mail</p>
        </footer>
    </div>
</body>
</html>