<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/blog_auth.css">
</head>
<body>
    <div class="form_container">
        <form class="login_form" action="" method="post">
            <h1>LOG IN</h1>
            <ul>
                <li>
                    <label for="id">ID </label>
                    <input class="login_input" id="id" name="id" type="text">
                </li>
                <li>
                    <label for="pw">PW </label>
                    <input class="login_input" id="pw" name="pw" type="password">
                </li>
                <li>
                    <button class="login_submit" type="submit">LOGIN</button>
                </li>
            </ul>
            <div class="warning_box"></div>
        </form>
    </div>
</body>
</html>